
div.Back{
  background: url('Football0.png') repeat-y;
  
  overflow: hidden;
}

div.Ball{
 
  background: url('file/ball3.png') top right repeat-y;
  overflow: hidden;
}

div.header{
  text-align: center; 
  padding: 20px; 
  background-color: rgb(0, 236, 138);
}

div.Menu{
  width: 150px; 
  padding: 10px; 
  float: left; 
  margin-right: 10px;
}

ol.disc{
  list-style-type: disc;
}

h3.footballTitle{
  text-align: center; 
}

img.position{
  float: left; 
  padding: 5px; 
  margin-right: 20px;
  margin-left: 25px
}

div.content{
  margin-left: 191px; 
  padding: 0px 20px 20px 20px;
}

div.footer{
  text-align: center; 
  padding: 20px; 
  background-color: rgb(0, 236, 138);
}

div.clearfix::after{
  content: '';
  display: block;
  clear:both;
}
