@media all and (max-width: 546px) {
    * {
        box-sizing: border-box;
    }
     
    div.Back, div.header, div.footer, div.Menu, div.Ball, div.content {
      width: 500px;
    }
    
    
    div.Menu{
    height: 260px;
    padding-top: 1px;
    padding-left: 150px;
    padding-bottom: 5px;
    float: none;
    background: url(/lesson5/file/Football1.png);
    }
    
    div.content{
      margin: 0px; 
      padding: 0px;
    }
    
    div.Back{
      background: none;
    }
    
    img.position{
      margin-left: 10px
    }
    
    }