@font-face {
  font-family: 'TeddyBear';
  src: url('TeddyBear.svg#TeddyBear') format('svg'),
       url('TeddyBear.ttf') format('truetype'),
       url('TeddyBear.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'teddy-bear';
  src: url('teddy-bear.eot');
  src: url('teddy-bear.eot?#iefix') format('embedded-opentype'),
       url('teddy-bear.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

