@font-face {
  font-family: 'RuslanDisplay-Regular';
  src: url('RuslanDisplay-Regular.eot');
  src: url('RuslanDisplay-Regular.eot?#iefix') format('embedded-opentype'),
       url('RuslanDisplay-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RuslanDisplay';
  src: url('RuslanDisplay.svg#RuslanDisplay') format('svg'),
       url('RuslanDisplay.ttf') format('truetype'),
       url('RuslanDisplay.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

