@font-face {
  font-family: 'Hurricane-Regular';
  src: url('Hurricane-Regular.eot');
  src: url('Hurricane-Regular.eot?#iefix') format('embedded-opentype'),
       url('Hurricane-Regular.svg#Hurricane-Regular') format('svg'),
       url('Hurricane-Regular.ttf') format('truetype'),
       url('Hurricane-Regular.woff') format('woff'),
       url('Hurricane-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

