@font-face {
  font-family: 'PressStart2P-Regular';
  src: url('PressStart2P-Regular.eot');
  src: url('PressStart2P-Regular.eot?#iefix') format('embedded-opentype'),
       url('PressStart2P-Regular.svg#PressStart2P-Regular') format('svg'),
       url('PressStart2P-Regular.ttf') format('truetype'),
       url('PressStart2P-Regular.woff') format('woff'),
       url('PressStart2P-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

