//colors
$black: #000000;
$white:#FFFFFF;
$text:rgba(0, 0, 0, 0.5);
$LightWhite:rgba(255, 255, 255, 0.25);
$orange:#FADE4B;
$discount:#FFFCFC;
$canon:#CC2229;
$pentax: #EA2626;

//font-size;
$fz: 14px;
$fzs: $fz - 2;
$fz16: $fz + 2;
$fz18: $fz + 4;
$fz24: $fz + 10;
$fz26: $fz + 12;
$fz32: $fz + 18;

//containers
$xl: 1120px;

//font-weight
$reg:400;
$bold:500;
$ex-bold:700;

//imagePath
$imagePath:"../img/";


