@font-face {
  font-family: 'RampartOne-Regular';
  src: url('RampartOne-Regular.eot');
  src: url('RampartOne-Regular.eot?#iefix') format('embedded-opentype'),
       url('RampartOne-Regular.svg#RampartOne-Regular') format('svg'),
       url('RampartOne-Regular.ttf') format('truetype'),
       url('RampartOne-Regular.woff') format('woff'),
       url('RampartOne-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

